<ul>
    <li><a class="active" routerLink="/dashboard"><img class="logo-nav" src="../../../assets/logo.png"></a></li>
    <li><a href="#projects"><img class="logo-projects" src="../../../assets/project-icon.png"></a></li>
    <li><a href="#tasks"><img class="logo-tasks" src="../../../assets/task-icon.png"></a></li>
    <li><a href="#messages"><img class="logo-messages" src="../../../assets/message-icon.png"></a></li>
    <li><a routerLink="/admin"><img class="logo-messages" src="../../../assets/admin-icon.png"></a></li>
    <li><a href="#logout" routerLink="/login" (click)="logOut()"><img class="logo-logout" src="../../../assets/logout-icon.png"></a></li>
</ul>