<div class="main-container">
    <div class="admin-container">

        <div class="admin-skills-containers">
            <h1 class="text-center"><strong>Current Project</strong></h1>
            <section>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                         
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td><h2>You have not joined any project</h2></td>
                        </tr>
                    </tbody>
                </table>
                <input class="form-btn" type="button" value="Join a Project">
                <input class="form-btn" type="button" (click)="createProject()" value="Create a Project">
            </section>
        </div>

                
</div>
</div>
