.admin-container{
    background-color: white;
    border-radius: 10 px;
}

.main-container{
    padding-top: 30px;
    margin-left: 17.5%;
    width: 75%;
    height: auto;

}

h1{
    color: #3C9CDC;
}

.admin-skills-containers{
    padding-top: 30px;
    margin-left: 6.6%;
    margin-right: 6.6%;

}

td,th{
    text-align: center;
}

.th1{
    table-layout: fixed;
    width: 40%;
}

.th2{
    table-layout: fixed;
    width: 20%;
}

.th3{
    table-layout: fixed;
    width: 40%;
}

// .button-table {
//     border: 0;
//     background: #2ecc71;
//     margin: 20px auto;
//     text-align: center;
//     border: 2px solid #3C9CDC;
//     outline: none;
//     color: #3C9CDC;
//     border-radius: 7px;
//     transition: 0.25s;
//     cursor: pointer;
//     width: 50%;
//     font-size: 18px;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// }

h2{
    color: #2ecc71;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-btn{
    border: 0;
    background: #2ecc71;
    margin: 20px auto;
    margin-left: 38.5%;
    margin-top: 8%;
    text-align: center;
    border: 5px solid #3C9CDC;
    outline: none;
    color: #3C9CDC;
    border-radius: 7px;
    transition: 0.25s;
    cursor: pointer;
    width: 25%;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.add-btn{
    float: right;
    border: 0;
    background: #ffffff;
    margin: 20px auto;
    border: 2px solid #3C9CDC;
    outline: none;
    color: #3C9CDC;
    border-radius: 7px;
    transition: 0.25s;
    cursor: pointer;
    width: 3%;
    height: auto;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.add-btn:hover{
    background-color: #2ecc71;
}

.button-table:hover {
    background: #2ecc71
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3C9CDC;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #3C9CDC;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #3C9CDC;
  }

.project-input
{
    margin-top: 1%;
    margin-bottom: 3%;
    width: 100%;
    font-size: 24px;
    color: #3C9CDC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-position
{
    margin-top: 1%;
    margin-bottom: 3%;
    width: 100%;
    font-size: 24px;
    color: #3C9CDC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-quantity{
    margin-top: 1%;
    margin-bottom: 3%;
    width: 50%;
    font-size: 24px;
    color: #3C9CDC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-separator
{
    width: 100%;
    background-color: #3C9CDC;
    height: 2px;
}