<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box">
                    <h1 class="title">R E G I S T E R</h1>
                    <input type="text" name="" placeholder="First Name">
                    <input type="text" name="" placeholder="Last Name">
                    <input type="text" name="" placeholder="Email">
                    <input type="text" name="" placeholder="Username">
                    <input type="password" name="" placeholder="Password">
                    <input type="text" name="" placeholder="Group(Given to you by your Company)">
                    <input type="submit" name=""  value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>


